// Подключаем шрифт через импорт google fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=PT+Sans:wght@400;700&display=swap');

html {
    height: 100%;
}
// Обнуляющие стили
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
* img {
    max-width: 100%;
    vertical-align: top;
}


// Задаем переменные
:root {
    --title-text: 'Exo 2', sans-serif;
    --title-color: #363738;
    --text-color: #6B6B6C;
    --accent-icon: #E9E9EC;
    --accent-color: #0B7572;
}
/*-----------------------------------general classes---------------------------------*/
body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}

[class*="__container"] {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 767px) {
        padding: 0 clamp(0.938rem, -0.553rem + 6.36vw, 2.5rem);
    }
    
}

.title {
    color: var(--title-color);
    font-family: var(--title-text);
    font-size: clamp(1.75rem, 1.208rem + 2.31vw, 3rem);
    font-weight: 600;
    line-height: 1.25; /* 60px */
}

.sub-title {
    color: var(--title-color);
    font-family: var(--title-text);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35; /* 27px */
}

.text {
    color: var(--text-color);
    font-style: normal;
    line-height: 1.50; /* 24px */
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    svg {
        z-index: 2;
        fill: var(--accent-color);
        transition: 0.3s;
        &:hover {
            transform: scale(1.2);
        }
    }
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
        position: absolute;
        background-color: var(--accent-icon);
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }
    
    .ibg img{
    
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    }

/*-----------------------------------header------------------------------------------*/

.header {

    &__container {
        display: flex;
        gap: 20px;
        align-items: center;
        padding: clamp(5rem, 2.857rem + 4.46vw, 6.875rem) 15px clamp(0rem, -12.5rem + 26.04vw, 10.938rem);
        position: relative;
        @media (max-width: 767.98px) {
            flex-wrap: wrap;
        }
        @media (max-width: 575.98px) {
            padding: 70px 15px 180px;
            gap: 50px;
        }
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: clamp(8.625rem, -17.232rem + 53.87vw, 31.25rem);
            width: 100%;
            height: 100%;
            background-color: var(--accent-color);
            transform: translate(100%, 0px);
            z-index: -1;
            @media (max-width: 575.98px) {
                right: 100%;
            }
        }
    }

    &__desc {
        flex: 0 1 48%;
        z-index: 2;
        & *:not(:last-child) {
            margin-bottom: 40px;
            @media (max-width: 575.98px) {
                margin-bottom: 30px;
            }
        }
        @media (max-width: 767.98px) {
            flex: 0 1 75%;
        }
        @media (max-width: 575.98px) {
            flex: 0 1 100%;
        }
    }

    &__title {
        font-size: clamp(1.75rem, 1.222rem + 2.25vw, 3.25rem);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        @media (max-width: 575.98px) {
            color: #FFF;
            font-size: 28px;
        }
    }
    &__text {
        @media (max-width: 575.98px) {
            color: #FFF;
            font-size: 15px;
        }
    }

    &__link {
        display: inline-block;
        color: var(--title-color);
        font-weight: 700;
        text-decoration: none;
        position: relative;
        @media (max-width: 575.98px) {
            color: #FFF;
            font-size: 15px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 23px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: transparent;
            transition: all .3s linear;
            @media (max-width: 575.98px) {
                background-color:#FFCE50;
            }
        }
        &:hover::before {
            background-color:#FFCE50;
        }
    }

    &__image {
        flex: 1 1 52%;
        z-index: 2;
        @media (max-width: 767.98px) {
            flex: 1 1 100%;
        }
        img {
            width: 100%; 
            object-fit: cover; 
            border-radius: 16px 0 16px 16px;
            height: clamp(21.875rem, 11.161rem + 22.32vw, 31.25rem);
            @media (max-width: 767.98px) {
                object-position: center 75%; 
                height: 314px;
            }
            @media (max-width: 575.98px) {
                height: 255px;
            }
            
        }
    }
}

/*-----------------------------------header------------------------------------------*/

/*-----------------------------------main--------------------------------------------*/

/*-----------------------------------search-delivery---------------------------------*/

.search-delivery {
    margin-top: -105px;
    z-index: 2;
    @media (max-width: 1280px) {
        margin-top: -80px
    }
    @media (max-width: 1150px) {
        margin-top: -40px;
    }
    @media (max-width: 992px) {
        margin-top: 0;
    }
    @media (max-width: 575.98px) {
            margin-top: -125px;
    }

    &__body {
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
        padding: clamp(1.25rem, -0.179rem + 2.98vw, 2.5rem) 0 clamp(1.563rem, -0.223rem + 3.72vw, 3.125rem);
        display: flex;
        .search-delivery__card:not(:last-child) {
            border-right: 1px solid #D7D7DD;
            @media (max-width: 767.98px) {
                border-right: none;
            }
        }
        @media (max-width: 767.98px) {
            flex-direction: column;
            box-shadow: none;
            gap: 16px;
            padding: 40px 0 80px ;
        }
        @media (max-width: 575.98px) {
            gap: 24px;
            padding: 24px 0 0;
        }
        
        
    }

    &__card {
        padding-left: clamp(1.875rem, -1.696rem + 7.44vw, 5rem);
        padding-right: 10px;
        flex: 1 1 33%;
        @media (max-width: 767.98px) {
            flex: 1 1 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
            padding-top: 35px;
            padding-bottom: 45px;
        }
        @media (max-width: 575.98px) {
            border-radius: 0;
            box-shadow: none;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 32px;
        }
    }

    &__icon {
        width: 92px;
        height: 92px;
        margin-bottom: 25px;
        @media (max-width: 767.98px) {
            margin-bottom: 0;
        }
        @media (max-width: 575.98px) {
            margin-bottom: 16px;
        }
    }
    &__desc {
        max-width: 230px;
        @media (max-width: 767.98px) {
            max-width: 400px;
            padding: 0 15px 0 30px;
        }
        @media (max-width: 575.98px) {
            padding: 0;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.35; /* 27px */
        margin-bottom: 16px;
        @media (max-width: 767.98px) {
            margin-bottom: 20px;
        }
        @media (max-width: 575.98px) {
            margin-bottom: 12px;
        }
    }
}

/*-----------------------------------search-delivery---------------------------------*/
/*-----------------------------------what-field--------------------------------------*/
.what-field {
    padding: clamp(4.063rem, 3.114rem + 4.05vw, 6.25rem) 0;

    &__container {
    }

    &__title {
        margin-bottom: 32px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__body {
        display: flex;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 30px;
        }
        
    }

    &__card-items {
        flex: 0 1 55%;
        display: grid;
        grid-gap: 16px;
        @media (max-width: 575.98px) {
            gap: 10px;
        }
        
    }

    &__golos {
    margin: 0 auto;
    @media (max-width: 767.98px) {
        display: none;
    }
    
    }
}

.card-items {
    background-color: #fff;
    position: relative;
    background: url("../img/decor-radio.svg") right bottom no-repeat;
    @media (max-width: 575.98px) {
        background: none;
    }
    
    span {
        display: block;
    }
    &:hover {
        .card-radio:checked {
                    border-color: var(--accent-color);
                }
    }
    
    &__radio {
        font-size: inherit;
        margin: 0;
        position: absolute;
        left: 48px;
        top: 46px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: 1px solid #CBCBCD;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        width: 20px;    
        outline: none;
        transition: background 0.2s ease-out, border-color 0.2s ease-out;
        @media (max-width: 575.98px) {
            left: 20px;
            top: 29px;
        }
        
        &::after {
            content: '';
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 3px solid #fff;
            position: absolute;
            top: 3%;
            left: 3%;
            transform: translate(-0.1px, -0.1px);
        }
        &:checked {
            background: var(--accent-color);
            border-color: var(--accent-color);
        }
    }

    &__plan-details {
        border: 1px solid #CBCBCD;
        border-radius: 15px;
        cursor: pointer;
        height: 100%;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.12);
        transition: border-color 0.2s ease-out;
        &:checked {
            border-color: var(--accent-color);
        }
    }

    &__desc {
        padding: 40px 20px 48px 96px;
        @media (max-width: 575.98px) {
            padding: 24px 20px 32px 56px;
        }
    }

    &__title {
        margin-bottom: 24px;
    }
}
.card-items__radio:checked ~ .card-items__plan-details {
    border-color: var(--accent-color);
}

.golos {

    &__sub-title {
        margin-bottom: 8px;
    }

    &__text {
        font-size: 54px;
        line-height: 1.50;
        position: relative;
        span {
            color: #6B6B6C;
            font-size: 20px;
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #FFCE50;
            position: absolute;
            bottom: -22px;
            left: 0;
        }
    }
}
/*-----------------------------------what-field--------------------------------------*/
/*-----------------------------------why---------------------------------------------*/
.why {
    padding-bottom: 70px;
    
    &__bg {
        height: 445px;
        background:  url("../img/2.jpg") right bottom no-repeat;
        background-color: #0B7572;
        display: flex;
        align-items: center;
        z-index: 10;
        position: relative;
        @media (max-width: 823px) {
            background:  url("../img/2.jpg") right -200px bottom no-repeat;
        }
        @media (max-width: 767.98px) {
            background:  none;
            display: block;
            height: auto;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            right: 300px;
            width: 1000px;
            height: 450px;
            background: url("../img/Group 8.png") right no-repeat;
            @media (max-width: 992px) {
                right: 150px;
            }
            @media (max-width: 823px) {
                right: 70px;
            }
            @media (max-width: 767.98px) {
                display: none;
            }
        }
    }

    &__title {
        max-width: 400px;
        color: #FFF;
        z-index: 2;
        @media (max-width: 767.98px) {
            color: var(--title-color);
            max-width: 100%;
        }
        
    }
    &__content {
        max-width: 1050px;
        margin: 0 auto;
        margin-top: 70px;
        display: grid;
        grid-template-columns: 450px 450px;
        grid-template-rows: 1fr 1fr;
        gap: 64px;
        justify-content: space-between;
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
        @media (max-width: 767.98px) {
            gap: 38px;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
    }

    &__icon {
        width: 80px;
        height: 80px;
    }

    &__desc {
        padding-left: 40px;
    }

    &__sub-title {
        margin-bottom: 16px;
    }

    &__text {
        flex: 1 1 auto;
    }
}
/*-----------------------------------why---------------------------------------------*/
/*-----------------------------------works-------------------------------------------*/
.works {
    padding-bottom: 120px;
    position: relative;

    &__container {
    }

    &__title {
        margin-bottom: 32px;
        @media (max-width: 575px) {
            margin-bottom: 24px;
        }
    }

    &__text {
        margin-bottom: clamp(2rem, 0.703rem + 3.61vw, 3.5rem);
        max-width: 650px;
    }
}
.works-slider {
    max-width: 1270px;
    
    &__wrapper {
        flex: 1 1 33.333%;
        margin: 0 -15px;   
    }

    &__slide {
        padding: 0 15px;
        @media (max-width: 767.98px) {
            padding: 0 clamp(0.938rem, -0.553rem + 6.36vw, 2.5rem);
        }

    }
    &__card {
        background-color: #fff;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        border-radius: 10px;
    }
    &__image {
        height: 250px;
        border-radius: 10px 10px 0 0;
    }
    
    &__desc {
        padding: 24px 32px 42px;
    }

    &__sub-title {
        margin-bottom: 16px;
    }

    &__text {
        flex: 1 1 auto;
        margin-bottom: 32px;
    }

    &__price {
        display: inline-block;
        color: var(--title-color);
        font-weight: 700;
        position: relative;
        @media (max-width: 575.98px) {
            font-size: 15px;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #FFCE50;
            transition: all .3s linear;
        }
    }

    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        padding: 0;
        margin: auto 5px;
        text-align: center;
        position: relative;
        background-color: #E9E9EC;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--accent-color);
        &:before{
            content: "";
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid var(--accent-color);
            position: absolute;
            top: -9px;
            left: -9px;
        }
    }
    .swiper-pagination {
        position: relative;
        margin-top: 50px;
        @media (max-width: 575.98px) {
            margin-top: 40px;
        }
        
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 13px;
    }
}
/*-----------------------------------works-------------------------------------------*/
/*-----------------------------------clients-----------------------------------------*/
.clients {
    padding: 85px 0;
    background: var(--accent-color);
    position: relative;
    @media (max-width: 767.98px) {
        padding: 32px 0;
    }
    
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: -50px;
        background: url("../img/clients__decor.png") no-repeat;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px 0;
    }

    &__title {
        flex: 0 1 323px;
        color: #FFF;
        padding-right: 10px;
        @media (max-width: 767.98px) {
            flex: 1 1 100%;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__content {
        flex: 0 0 680px;
        background-color: #fff;
        border-radius: 8px;
        padding: 28px 40px 40px;
        z-index: 2;
        @media (max-width: 1032px) {
            margin: 0 auto;
        }
        @media (max-width: 767.98px) {
            flex: 1 1 100%;
            padding: 24px 16px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 65px;
        position: relative;
        @media (max-width: 767.98px) {
            margin-bottom: 24px;
        }
        @media (max-width: 575.98px) {
            margin-bottom: 10px;
        }
        
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -32px;
            left: 0;
            background-color: #D7D7DD;
            @media (max-width: 767.98px) {
                display: none;
            }
        }
    }

    &__logo {
        svg {
            fill: var(--accent-color);
        }
    }

    &__contacts {
        color: var(--text-color);
        font-size: 11px;
        line-height: 1.50; /* 16.5px */
        max-width: 275px;
        @media (max-width: 767.98px) {
            display: none;
        }
    }

    &__menu {
        color: #FFF;
        @media (max-width: 767.98px) {
            display: none;
        }
    }

    &__menu-list {
        display: flex;
        background-color: var(--accent-color);
        *:nth-child(1){
            width: 19.2%;
        }
        *:nth-child(2){
            width: 25.1%;
        }
        *:nth-child(3){
            width: 29.4%;
        }
        *:nth-child(4){
            width: 26.3%;
        }
        li:not(:last-child)::after {
            content: "";
            display: block;
            width: 1px;
            height: 37px;
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            top: 4px;
            right: 0;
        }
    }

    &__menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--title-text);
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        padding: 10px 0 10px ;
        position: relative;
    }

    &__table {
        padding: 8px 0 0 0;
        background-color: #F9F9FB;
    }

    &__row {
        padding-bottom: 15px;
        display: flex;
        @media (max-width: 767.98px) {
            flex-direction: column;
        }
    }

    &__number {
        background-color: var(--accent-color);
        color: #FFF;
        font-family: var(--title-text);
        font-size: 15px;
        font-weight: 600;
        line-height: 1.50; /* 22.5px */
        text-align: center;
        border-radius: 5px;
        display: none;
        @media (max-width: 767.98px) {
            display: block;
        }
        
    }

    &__table-left {
        display: flex;
        flex: 0 0 44.3%;
        align-items: flex-start;
        position: relative;
        @media (max-width: 767.98px) {
            align-items: center;
        }
        
        &::after {
            content: "";
            display: none;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            bottom: 0;
            left: 0;
            @media (max-width: 767.98px) {
                display: block;
        }
    }
}

    &__image {
        flex: 0 0 43.3%;
        padding: 24px 16px 16px;
        position: relative;
        @media (max-width: 767.98px) {
            display: flex;
            align-items: center;
            padding-left: 0;
        }
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 170px;
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: 767.98px) {
                display: none;
            }
            
        }
    }
    &__image_af {
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 566px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            bottom: -56px;
            left: 17px;
            @media (max-width: 767.98px) {
                display: none;
            }
            
        }
    }

    &__descr {
        flex: 0 0 56.7%;
        padding: 24px 10px 0 14px;
        position: relative;
        @media (max-width: 767.98px) {
            padding-left: 0;
        }
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 170px;
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: 767.98px) {
                display: none;
            }
            
        }
    }

    &__text {
        margin-bottom: 10px;
        color:#6B6B6C;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 18.9px */
    }

    &__price {
        margin-bottom: 24px;
        color: #363738;
        font-family: var(--title-text);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%; /* 18.9px */
        @media (max-width: 575.98px) {
            margin-bottom: 10px;
        }
        
    }

    &__table-center {
        flex: 0 0 29.4%;
        padding: 24px 10px 0 14px;
        position: relative;
        @media (max-width: 767.98px) {
            padding-left: 0;
        }
        
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 170px;
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            top: 0;
            right: 0;
            @media (max-width: 767.98px) {
                display: none;
            }
        }
        &::after {
            content: "";
            display: none;
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            bottom: -5px;
            right: 0;
            @media (max-width: 767.98px) {
                display: block;
            }
        }
    }

    &__sub-title {
        margin-bottom: 10px;
        color:#363738;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%; /* 18.9px */
    }

    &__adress {
        margin-bottom: 12px;
        color: #6B6B6C;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 18.9px */
    }

    &__rating {
    }

    &__table-right {
        flex: 0 0 26.3%;
        padding: 24px 10px 0;
        @media (max-width: 767.98px) {
            padding-left: 0;
        }
        
    }
    &__name {
        margin-bottom: 12px;
        color:#363738;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%; /* 18.9px */
    }

    &__dolzhnost {
        margin-bottom: 10px;
        color:#6B6B6C;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 18.9px */
    }

    &__tel {
        color: #363738;
        font-family: PT Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 18.9px */
    }
}
/*-----------------------------------clients-----------------------------------------*/
/*-----------------------------------stages------------------------------------------*/
.stages {
    padding: clamp(4rem, 2.483rem + 6.47vw, 7.5rem) 0;
    background-color: #FFF;

    &__container {
    }

    &__title {
        margin-bottom: 48px;
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }
    }

    &__columns {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__card-decor {
        padding-left: 49px;
        max-width: 100%;
        position: relative;
        z-index: 7;
        &::after {
            content: "1";
            display: block;
            width: 68px;
            height: 68px;
            background-color: #0B7572;
            border-radius: 50%;
            color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            font-weight: 700;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            z-index: 8;
        }
        &::before {
            content: "";
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: #FFF;
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translate(0, -50%);
            z-index: 7;
        }
    }
    &__card-decor_2 {
        &::after {
            content: "2";
        }
    }
    &__card-decor_3 {
        &::after {
            content: "3";
        }
    }

    &__card {
    }
}
.card-stages {
    width: 100%;
    min-height: 220px;
    background-color: #FFF;
    border-radius: 10px;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    position: relative;
    overflow: hidden;
    z-index: 6;
    @media (max-width: 767.98px) {
        height: 100%;
    }
    

    &__card-figure {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        -webkit-box-shadow: -5px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
        -moz-box-shadow: -5px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
        box-shadow: -5px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translate(-50%, -50%);
    }

    &__body {
        padding: 32px 32px 32px 96px;
        display: flex;
        gap: 40px;
        @media (max-width: 992px) {
            padding-left: 80px;
        }
        @media (max-width: 767.98px) {
            padding-left: 55px;
            padding-top: 24px;
        }
        @media (max-width: 575.98px) {
            padding-right: 15px;
        }
    }

    &__image {
        flex: 0 0 330px;
        @media (max-width: 992px) {
            display: none;
        }
    }

    &__sub-title {
        margin-bottom: 48px;
        position: relative;
        @media (max-width: 767.98px) {
            margin-bottom: 16px;
        }
        
        &::before {
            content: "";
            display: block;
            width: 86px;
            height: 3px;
            background-color: #FFCE50;
            position: absolute;
            bottom: -24px;
            left: 0;
            @media (max-width: 767.98px) {
                bottom: -10px;
            }
            
            @media (max-width: 575.98px) {
                display: none;
            }
        }
    }
}
/*-----------------------------------stages------------------------------------------*/
/*-----------------------------------partners----------------------------------------*/
.partners {
    padding-bottom: 130px;

    &__container {
    }

    &__title {
        margin-bottom: clamp(3.5rem, 1.663rem + 5.11vw, 5.625rem);
    }
    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 70px;
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
        @media (max-width: 575.98px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
        }
        
    }
    
    &__card {
        text-align: center;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #D7D7DD;
        &:nth-child(4) {
            border: none;
        }
        &:nth-child(8) {
            border: none;
        }
        @media (max-width: 992px) {
            border-right: 1px solid #D7D7DD;
            &:nth-child(even) {
                border: none;
            }
        }
        @media (max-width: 575px) {
            border: none;
        }
        
        
        
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: start;
        flex: 0 0 133px;
    }

    &__sub-title {
        margin-bottom: 14px;
    }

    &__text {
    }
}
/*-----------------------------------partners----------------------------------------*/
/*-----------------------------------employees---------------------------------------*/
.employees {
    padding-bottom: 130px;
    @media (max-width: 992px) {
        padding-bottom: 100px;
    }
    @media (max-width: 767.98px) {
        padding-bottom: 50px;
    }
    
    

    &__container {
    }

    &__title {
        margin-bottom: 72px;
        @media (max-width: 767.98px) {
            margin-bottom: 56px;
        }
        @media (max-width: 575.98px) {
            margin-bottom: 32px;
        }
        
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 24px;
        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
        }
        
    }

    &__card {
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }

    &__decor {
        width: 8.5%;
        background-color: var(--accent-color);
        border-radius: 10px 0 0 10px;
    }

    &__content {
        display: flex;
        padding: 32px 0 40px;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 16px;
            margin: 0 auto;
        }
        @media (max-width: 767.98px) {
            flex-direction: row;
            margin: 0;
        }
        @media (max-width: 575.98px) {
            padding: 24px 0 32px;
            align-items: center;
        }
        @media (max-width: 400px) {
            flex-direction: column;
            width: 100%;
        }
        
    }

    &__photo {
        width: 138px;
        height: 138px;
        margin-left: 32px;
        @media (max-width: 992px) {
            margin-left: 40px;
        }
        @media (max-width: 575.98px) {
            margin-left: 16px;
            width: 100px;
            height: 100px;
        }
        @media (max-width: 400px) {
            margin-left: 0;
        }
        img {
            aspect-ratio: 1/1;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
        }
    }

    &__descr {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        padding-right: 15px;
        @media (max-width: 767.98px) {
            margin: 0
        }
        @media (max-width: 400px) {
            padding: 0;
        }
    }

    &__name {
        margin-bottom: 12px;
        @media (max-width: 575.98px) {
            margin-bottom: 10px;
        }
    }

    &__job-title {
        margin-bottom: 51px;
        position: relative;
        @media (max-width: 575.98px) {
            margin-bottom: 39px;
        }
        
        &::after {
            content: "";
            display: block;
            width: 86px;
            height: 3px;
            background-color: #FFCE50;
            position: absolute;
            bottom: -16px;
            left: 0;
        }
    }

    &__links {
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }

    &__link {
        transition: all 0.3s;
        &:hover {
            transform: scale(1.3);
        }
    }
}
/*-----------------------------------employees---------------------------------------*/
/*-----------------------------------contacts----------------------------------------*/
.contacts {
    padding-bottom: clamp(4rem, -0.107rem + 11.43vw, 8.75rem);

    &__container {
    }

    &__title {
        margin-bottom: 94px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 1080px) {
            gap: 64px;
        }
        
    }

    &__social {
    }

    &__inn {
        background-color: #F9F9FB;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        padding: 40px 72px 56px 48px;
        flex: 0 0 794px;
        @media (max-width: 1080px) {
            flex: 1 1 100%;
        }
        @media (max-width: 767.98px) {
            padding: 32px 37px 48px 28px;
        }
        
    }
}
.social {

    &__list {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 32px;

        &_gray {
            color: #6B6B6C;
            font-size: 14px;
            line-height: 1.50; /* 21px */
            margin-bottom: 8px;
        }

        &_black {
            color: var(--title-color);
            font-family: var(--title-text);
            font-size: 20px;
            font-weight: 600;
        }
    }

    &__item-icon {
        svg {
            fill: var(--accent-color);
        }
    }

    &__item-desc {
    }
}
.inn {

    &__list {

        &_left {
            display: flex;
            flex-direction: column;
            gap: 48px;
            @media (max-width: 767.98px) {
                display: none;
            }
            
            li {
                color: #6B6B6C;
                line-height: 1/25; /* 20px */
                position: relative;
            }
            li:not(:last-child):after {
                content: "";
                display: block;
                $width: 100%;
                width: calc($width + 200px);
                height: 1px;
                background-color: #E9EAF2;
                position: absolute;
                bottom: -16px;
                left: 0;
            }
        }

        &_right {
            display: flex;
            flex-direction: column;
            gap: 48px;
            flex: 0 0 445px;
            @media (max-width: 767.98px) {
                flex: 1 1 100%;

            }
            
            li {
                color: var(--title-color);
                font-family: var(--title-text);
                font-size: 16px;
                font-weight: 600;
                line-height: 1.25; /* 20px */
                position: relative;
            }
            li:not(:last-child):after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #E9EAF2;
                position: absolute;
                bottom: -16px;
                left: 0;
            }
        }
    }

    &__item {
    }
}
/*-----------------------------------contacts----------------------------------------*/
/*----------------------------------connection---------------------------------------*/
.connection {
    padding-bottom: clamp(4rem, 0.974rem + 8.42vw, 7.5rem);

    &__container {
    }

    &__body {
        display: flex;
    }

    &__form-body {
        background-color: var(--accent-color);
        padding: 56px 64px 56px;
        flex: 0 0 57%;
        @media (max-width: 992px) {
            flex: 1 1 100%;
        }
        @media (max-width: 575.98px) {
            padding: 40px 40px 48px;
        }
        @media (max-width: 375px) {
            padding: 40px 20px 48px;
        }
    }

    &__title {
        color: #FFF;
        margin-bottom: 72px;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }
    &__button{
        display: inline-block;
        width: 206px;
    }

    &__image {
        flex: 0 0 544px;
        @media (max-width: 992px) {
            display: none;
        }
        img {
            aspect-ratio: 1/1.35;
            max-width: 100%;
            object-fit: cover;
            max-height: 740px;
        }
    }
}

.form {

    &__textarea {
        width: 100%;
        position: relative;
        margin-bottom: 57px;
        textarea {
            width: 100%;
            height: 235px;
            background-color: var(--accent-color);
            border: none;
            resize: none;
            outline: none;
            font-size: 20px;
            color: #FFF;
            line-height: 2.5;
            &::placeholder {
                color: #fff;
            }
        }
    }
    .ta-decor-1 {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.20);
        position: absolute;
        top: 42px;
        left: 0;
        &::after, &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.20);
            position: absolute;
        }
        &::before {
            top: 50px;
            left: 0;
        }
        &::after {
            top: 100px;
        }
    }
    .ta-decor-2 {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.20);
        position: absolute;
        top: 192px;
        left: 0;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.20);
            position: absolute;
            top: 50px;
            left: 0;
        }
    }

    &__input {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 52px;
        }
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.20);
            position: absolute;
            bottom: -19px;
            left: 0;
        }
        label {
            color: #FFF;
            font-size: 15px;
            svg {
                margin-right: 16px;
            }
        }
    }

    .input-TZ {
    }

    &__button {
    }

    &__btn {
        color: var(--accent-color);
        text-align: center;
        font-family: var(--title-text);
        font-size: 16px;
        font-weight: 600;
        line-height: 150%; /* 24px */
        padding: 8px 20px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            box-shadow: 0 0 2px 2px #FFF;
        }
        @media (max-width: 575.98px) {
            width: 100%;
            padding: 8px 10px;
        }
    }
    
    
}
/*----------------------------------connection---------------------------------------*/
/*----------------------------------our-data-----------------------------------------*/
.our-data {
    padding-bottom: 100px;
    @media (max-width: 767.98px) {
        padding-bottom: 88px;
    }
    @media (max-width: 575.98px) {
        padding-bottom: 64px;
    }
    

    &__container {
    }

    &__title {
        margin-bottom: 48px;
        @media (max-width: 575.98px) {
            margin-bottom: 32px;
        }
    }

    &__body {
        background-color: #F9F9FB;
        padding: 48px 56px;
        @media (max-width: 767.98px) {
            padding: 32px 40px 48px;
        }
        @media (max-width: 575.98px) {
            background-color: #fff;
            padding: 0;
        }
    }

    &__sub-title {
        margin-bottom: 16px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__tz {
        margin-bottom: 16px;
    }

    &__tz-text {
        display: flex;
        gap: 16px;
    }

    &__text-tz {
        text-decoration: underline;
        margin-bottom: 40px;
    }

    &__photo {
        margin-bottom: 24px;
        @media (max-width: 425px) {
            text-align: center;
        }
        
    }

    &__photo-body {
        display: flex;
        gap: 16px;
        margin-bottom: 80px;
        @media (max-width: 425px) {
            flex-direction: column;
            align-items: center;
        }
        
    }

    &__column {
    }

    &__photo-text {
        margin-top: 16px;
        text-decoration: underline;
    }

    &__button {
        @media (max-width: 425px) {
            display: flex;
            justify-content: center;
        }
    }

    &__btn {
        font-family: var(--title-text);
        font-size: 16px;
        color: #FFF;
        background-color: var(--accent-color);
        border: none;
        padding: 20px;
        border-radius: 4px;
        border: 1px solid transparent;
        transition: 0.3s;
        &:hover {
            color: var(--accent-color);
            background-color: #FFF;
            border: 1px solid var(--accent-color);
        }
        @media (max-width: 425px) {
            margin: 0 auto;
        }
        
    }
}

/*----------------------------------our-data-----------------------------------------*/
/*----------------------------------video--------------------------------------------*/
.video {

    &__container {
    }

    &__title {
        margin-bottom: 32px;
    }

    &__text {
        max-width: 850px;
        margin-bottom: 40px;
    }
    .video-rolik {
        width: 100%;
        vertical-align: top;
    }
}
/*----------------------------------video--------------------------------------------*/
/*-----------------------------------main--------------------------------------------*/

/*-----------------------------------footer------------------------------------------*/
.footer {
    background-color: var(--accent-color);
    padding: 30px 0;
    text-align: center;

    &__container {
    }

    &__copyright {
        color: #FFF;
    }
}

/*-----------------------------------footer------------------------------------------*/
